<!-- Loop over each user object -->
  <!-- Render user-specific data with Handlebars.js expressions -->

<br>
<button class="btn btn-primary m4"><a class="white-text" href="/my-restaurants/new"> Add New Restaurant</a></button>

{{#if restaurants.length}}
  <div class="row">
    {{#each restaurants as |restaurant| }}
    <div class="col s4">
      <div class="card light-blue accent-1">
        <div class="card-content black-text">
          <div class="card-image">
          <!--We can replace the image link with the uploaded images once models and routes are updated-->
        {{#if restaurant.image}}
            <img src="/image/{{restaurant.image}}" />
        {{/if}}
          </div>

          <a href="/my-restaurants/edit/{{id}}">
          <span class="card-title">{{restaurant.name}}</span>
          <p>Location: {{restaurant.location}}</p>
          </a>
        </div>
        <div class="card-action black-text">
          <a class="light-blue-text text-darken-4" href="#">Been There</a>
          <a class="light-blue-text text-darken-4" href="/restaurant/{{id}}">Comment</a>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}

  <footer class="footer text-center">
  </footer>